# local data directories
DATA_DIR=data
LOCAL_MODEL_PATH=models

# google cloud storage bucket of the png data
BUCKET=gs://project-alm
ZIP_FILE=blood_cancer_png.zip
GCP_PROJECT_ID=wagon-bootcamp-448113
DOCKER_IMAGE_NAME=leuk_detect_docker_image
GCP_REGION=europe-west10
DOCKER_REPO_NAME=leuk-detect-repo


# Train params
BATCH_SIZE=32
EPOCHS=1
TEST_SPLIT=0.1
VALIDATION_SPLIT=0.2

# ML Flow
MLFLOW_TRACKING_URI=https://mlflow.lewagon.ai
MLFLOW_EXPERIMENT=bloodcancer
MLFLOW_MODEL_NAME=bloodcancer
