pytest
pylint
ipdb
jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn
streamlit
opencv-python
fastapi
tensorflow
uvicorn
python-multipart
google-cloud-storage==2.14.0
mlflow
transformers
torch
tf-keras
torchvision
accelerate>=0.26.0
